.league-container{
  display: grid;
  grid-template-columns: repeat(3, 18rem);
  justify-content: space-around;
  /* margin-left: 5%; */
  margin-top: 30px;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
    .league-container{
        display: block;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
  }
