.header{
    
    position: relative;
    height: 240px;
    /* z-index: 1; */
    /* background: transparent; */


    
    

    /* center the text in middle */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.heading{
    letter-spacing: 15px;
    position: relative;
    font-size: 40px;
    font-weight: 900;
    /* margin-top: 10px; */
    /* font-style: italic; */
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  font-stretch: expanded;
}
.header img{
    /* width: 300px; */
    width: 100%;
    height: 240px;
    /* height: 80px; */
    position: relative;
}
.header::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/bg-2.png);

    /* Center and scale the image nicely */
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    /* opacity------ */
    opacity: 0.5;
    z-index: -1;
}

