.league-pic img{
    width: 340px;
   
   
}
.league-pic{
    /* border: 1px solid green; */
    align-items: center;
    display: flex;
    /* margin-left: 55px; */
    margin-left: auto;
    
}
.league-detail{
    /* background-color: rgb(124, 211, 93); */
    background-color: rgb(228, 225, 225);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    cursor: pointer;
    /* box-shadow: -10px 10px 15px grey; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: transform 0.5s, width 0.5s;
    
}
.league-detail:hover{
    /* width: 99%; */
    /* padding: 15px; */
    transform: translateY(-10px);
}

.detail-container{
    margin: auto;
    width: 80%;
    /* border: 1px solid red; */
    /* background-color: green; */
    
}
.league-info{
    /* border: 1px solid black; */
    height: 200px;
    /* color: white; */
    padding: 10px;
}
.description{
    margin-top: 20px;
}
.social-media-container{
    display: flex;
    justify-content: center;
}
.social-media-container img{
    width: 60px;
   
}
.social-media-container img:hover{
   opacity: 0.7;
   
}

@media only screen and (max-width: 600px) {
    .league-detail{
        flex-direction: column;
    }
    .league-info{
        height: 250px;
        
    }
    .league-pic{
        margin: auto;
    }
    .league-pic img{
        width: 290px;
    }
    
}

/*  */
.fa {
    padding: 18px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
      
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }